snippet ife "If-Else Statement" b
if ${1:CONDITION_1}
  ${2:CONDITION_2}
else
  ${3:CONDITION_3}
endif
endsnippet

snippet if "If Statement" b
if ${1:CONDITION_1}
  ${2:CONDITION_2}
endif
endsnippet

snippet ifel "If-Elseif-Else Statement" b
if ${1:CONDITION_1}
  ${2:CONDITION_2}
elseif ${3:CONDITION_3}
  ${4:CONDITION_4}
endif
endsnippet
