[submodule "submodules/typescript-ctags"]
	path = submodules/typescript-ctags
	url = https://github.com/jb55/typescript-ctags.git
[submodule "submodules/vim-polyglot"]
	path = submodules/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
