[submodule "submodules/ultisnips"]
	path = submodules/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "submodules/vim-surround"]
	path = submodules/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "submodules/vim-commentary"]
	path = submodules/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "submodules/vim-snippets"]
	path = submodules/vim-snippets
	url = https://github.com/honza/vim-snippets
