[submodule "submodules/typescript-ctags"]
	path = submodules/typescript-ctags
	url = https://github.com/jb55/typescript-ctags.git
[submodule "submodules/vim-polyglot"]
	path = submodules/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "submodules/ultisnips"]
	path = submodules/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "submodules/vim-surround"]
	path = submodules/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "submodules/vim-commentary"]
	path = submodules/vim-commentary
	url = https://github.com/tpope/vim-commentary
